<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
   	<title>moodfor</title>
   	<!-- Compiled and minified CSS -->
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">   
  </head>
	<body>
		<nav class="top-bar">
			<h1 class="mood-title">
				<%= link_to 'moodfor', moods_path %>
			</h1>
		</nav>

		<div class="sidebar">
			<ul>
				<li class="side-links"><%= link_to 'i\'m in the mood for...', '/search' %></li>
				<li class="side-links"><%= link_to 'but he ruins movies!', movies_path %></li>
				<li class="side-links"><%= link_to 'you don\'t understand my feelings!', new_mood_path %></li>
			</ul>
		</div>

		<div class="container">
			<%= yield %>
		</div> 

		<footer>
				<ul>
				<li class="swiss-logo"><%= image_tag('swiss-icon.png',size: '45x45', alt: '&copy jswiss 2015') %>
						<p class='copy-text'>
							<span class="copyright">&copy</span>
							jswiss 2015
						</p>
					</li>
				<li class="links"><%= link_to 'about', '/about' %></li>
				<li class="links"><%= link_to 'contact', '/contact' %></li>
			</ul>
		</footer>
	  <!-- Compiled and minified JavaScript -->
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>  
	</body>
</html>




