<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
   	<title>moodfor</title>
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
	  <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,100italic,300,300italic' rel='stylesheet' type='text/css'>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>  
		<%= javascript_include_tag('materialize.js') %> 
		<%= stylesheet_link_tag('materialize.css') %>  
		<%= stylesheet_link_tag('style.css') %> 
		<%= include_gon %> 
  </head>
	<body>
		<div class="navbar-fixed">
			<nav>
				<div class="nav-wrapper">
					<div class="brand-logo"><%= link_to 'moodfor', moods_path %></div>
					<ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li class="links"><%= link_to 'i\'m in the mood for', new_mood_path %></li>
		        <li class="links"><%= link_to 'about', '/about' %></li>
						<li class="links"><%= link_to 'contact', '/contact' %></li>
		      </ul>
				</div>
			</nav>
		</div>
		<div class="container">
			<%= yield %>
		</div> 

    <footer>
      <tr>
      	<div class="logo">
      		<%= image_tag('swiss-icon.png',size: '45x45', alt: '&copy jswiss 2015') %>
      	</div>
	      <div class="copyright">
		      <p>&copy jswiss 2015</p>
	      </div>
      </tr>
    </footer> 
	</body>
</html>




