<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
   	<title>moodfor</title>
   	<!-- Compiled and minified CSS -->
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
	  <link rel="stylesheet" href="style.css.scss">

  </head>
	<body>
		<nav>
			<div class="nav-wrapper">
				<div class="brand-logo"><%= link_to 'moodfor', moods_path %></div>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><%= link_to 'mood', '/search' %></li>
	        <li><%= link_to 'dude', movies_path %></li>
	      </ul>
			</div>
		</nav>

		<div class="container">
			<%= yield %>
		</div> 

		<footer>
				<ul>
				<li class="swiss-logo"><%= image_tag('swiss-icon.png',size: '45x45', alt: '&copy jswiss 2015') %>
						<p class='copy-text'>
							<span class="copyright">&copy</span>
							jswiss 2015
						</p>
					</li>
				<li class="links"><%= link_to 'about', '/about' %></li>
				<li class="links"><%= link_to 'contact', '/contact' %></li>
			</ul>
		</footer>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>  
		<%= javascript_include_tag('ajax.js') %>  
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>  
	</body>
</html>




